.cards-container {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  height: max-content;
}
.card1 {
  display: flex;
  flex-direction: column;
  position: relative;
  // align-items: center;
  gap: 20px;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(14, 86, 124, 0.16);
  img {
    border-radius: 20px;
    width: 100%;
    height: 256px;
    object-fit: cover;
  }

  .number {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fa3661;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background-color: #ee587947;
    width: max-content;
    border-radius: 20px;
    padding: 2px 10px;
  }
  .name {
    display: flex;
    justify-content: space-between;
    h3 {
      color: #1d293f;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.38px;
    }
    p {
      color: #99a3ad;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    .right {
      font-size: 30px;
      color: #7b838c;
    }
  }
  .price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      color: #546179;
      font-size: 14px;
      font-weight: 400;
    }
    h2 {
      color: #1d293f;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: -0.48px;
    }
    .center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
  .bottom {
    .text-icon {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
    }
    .text-icon2 {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}
