.card-conteiner {
    cursor: default;
    // --color-primary: #275efe;
    // --color-headline: #3f4656;
    // --color-text: #99a3ba;
  }
  
  .card-content {
    width: 100%;
    margin-top: 27px;
  }

  .card-content .card-title {
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--color-headline);
  }
  
  .card-content .card-title span {
    font-weight: 500;
  }
  
  .card-content .values div, .card-content .current-range div {
    display: inline-block;
    vertical-align: top;
  }
  
  
  .card-content .values > div:first-child {
    margin-right: 2px;
  }
  
  .card-content .values > div:last-child {
    margin-left: 2px;
  }
  
  .card-content .current-range {
    display: block;
    color: var(--color-text);
    margin-top: 8px;
    font-size: 14px;
  }
  
  .card-content .slider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: .6em;
    color: var(--color-text);
  }
  
  /* Range Slider */
  .input-ranges[type='range'] {
    width: 330px;
    height: 30px;
    overflow: hidden;
    outline: none;
  }
  .values{
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    .number{
        width: 152px;
height: 40px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #DCE5EB;
background: #FFF;
color: #99A3AD;
display: flex;
padding:6px 15px;
justify-content: center;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.5px;
    }
  }
  
  .input-ranges[type='range'],
  .input-ranges[type='range']::-webkit-slider-runnable-track,
  .input-ranges[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }
  
  .input-ranges[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 3px;
   background-color: rgb(100, 100, 100);
  }
  
  .input-ranges[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 25px;
    width: 25px;
    margin-top: -10px;
    background: #fff;
    border: 3px solid #28B0A6;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb:hover {
    background: #eaefff;
    border: 1px solid var(--color-primary);
    outline: .5px solid var(--color-primary);
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb:active {
    cursor: grabbing;
  }
  
  .input-ranges[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
  }
  
  .rangeslider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    height: 20px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
  }
  
  .rangeslider input {
    position: absolute;
  }
  
  .rangeslider span {
    position: absolute;
    margin-top: 20px;
    left: 0;
  }
  
  .rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
  }

  @media screen and (max-width:800px) {
    .input-ranges[type='range'] {
      width: 100%;
      height: 30px;
      overflow: hidden;
      outline: none;
    }
    .values{
      .number{
        width: 100px;
        flex-grow: 1;
      }
    }
  }