.section4 {
  padding: 0 10%;
  // margin-left: 5%;
  //   width: 100%;
  .item {
    position: relative;
    z-index: 1;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 32px;

      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.645),
        rgba(255, 255, 255, 0)
      );
    }
  }
  .name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 10px;
    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.38px;
    }
    p {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }
  .number {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #f5a623;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background-color: #fef2de;
    width: max-content;
    border-radius: 20px;
    padding: 2px 10px;
    z-index: 1;
  }
  .left {
    // position: absolute;

    h1 {
      color: #1d293f;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.64px;
      padding-bottom: 20px;
    }

    p {
      color: #546179;
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -0.38px;
    }
  }
  .first-row {
  }
  .catagory-swiper {
    padding-top: 100px;
  }
  .swiper-container {
    padding: 40px 0;
    position: relative;
    width: 100%;
    .swiper-slide {
      background: #fff;
      width: 100%;
    }
    .topDest-items {
      display: flex;
      gap: 32px;
      height: 730px;
      width: 100%;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 32px;
        position: relative;
      }
      .squar {
        height: 100%;

        &.squar1 {
          display: flex;
          gap: 32px;
          .first-column {
            width: 200px;
            height: 100%;
            width: 376px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            .row {
              height: 50%;
              width: 100%;
              position: relative;
            }
            .first-row {
            }
            .second-row {
            }
          }
          .second-column {
            height: 100%;
            width: 512px;
            position: relative;
          }
        }
        &.squar2 {
          display: flex;
          flex-direction: column;
          gap: 32px;
          .row {
            display: flex;
            height: 50%;
            gap: 32px;

            &.first-row {
              position: relative;
            }
            &.second-row {
              .first-column {
                position: relative;
                width: 240px;
                height: 335px;
              }
              .second-column {
                position: relative;
                height: 335px;
                flex-grow: 1;
              }
            }
          }
        }
      }
    }

    .swiper-button-prev {
      position: relative;
      width: 70px;
      height: 70px;
      color: white;
    }

    .swiper-button-next {
      position: relative;
      width: 72px;
      height: 72px;
      color: white;
    }
    .custom-prev {
      display: block;
      cursor: pointer;
    }
    .custom-next {
      display: block;
      cursor: pointer;
    }
  }
  .icons-container {
    position: absolute;
    top: -70px;
    right: 0%;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 20px;
  }
  .light-box {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(12px);
    width: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000000;
    img {
      width: 800px;
      max-width: 100%;
      border-radius: 0;
    }
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
    button {
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      border: none;
      background-color: rgb(63, 172, 130);
      color: white;
      font-size: 20px;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      position: absolute;
    }
    .lightbox-prev {
      left: 0;
    }
    .lightbox-next {
      right: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .section4 {
    padding: 0;
    width: 90%;
    margin-left: 5%;

    .item {
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 15px;

        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.645),
          rgba(255, 255, 255, 0)
        );
      }
    }
    .name {
      position: absolute;
      bottom: 8px;
      left: 8px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      gap: 5px;
      h2 {
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.38px;
      }
      p {
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.5px;
      }
    }
    .number {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #f5a623;
      text-align: center;
      font-size: 8px;
      font-weight: 500;
      background-color: #fef2de;
      width: max-content;
      border-radius: 20px;
      padding: 2px 12px;
      z-index: 1;
    }
    .left {
      // position: absolute;

      h1 {
        color: #1d293f;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.64px;
        padding-bottom: 20px;
      }

      p {
        color: #546179;
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.38px;
      }
    }
    .first-row {
    }
    .catagory-swiper {
      padding-top: 100px;
    }
    .swiper-container {
      padding: 40px 0;
      position: relative;
      width: 100%;
      .swiper-slide {
        background: #fff;
        width: 100%;
      }
      .topDest-items {
        display: flex;
        gap: 15px;
        height: max-content;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
          position: relative;
        }
        .squar {
          height: 100%;
          &.squar1 {
            display: flex;
            gap: 15px;
            height: 200px;

            .first-column {
              width: 200px;
              height: 100%;
              width: 376px;
              display: flex;
              flex-direction: column;
              gap: 15px;
              .row {
                height: 0;
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
              }
              .first-row {
              }
              .second-row {
              }
            }
            .second-column {
              height: 100%;
              width: 512px;
              position: relative;
            }
          }
          &.squar2 {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .row {
              display: flex;
              height: 50%;
              gap: 15px;

              &.first-row {
                position: relative;
              }
              &.second-row {
                height: 150px;
                .first-column {
                  position: relative;
                  width: 50%;
                  height: 100%;
                }
                .second-column {
                  position: relative;
                  height: 100%;
                  width: 50%;
                }
              }
            }
          }
        }
      }

      .swiper-button-prev {
        position: relative;
        width: 70px;
        height: 70px;
        color: white;
      }

      .swiper-button-next {
        position: relative;
        width: 72px;
        height: 72px;
        color: white;
      }
      .custom-prev {
        display: none;
      }
      .custom-next {
        display: none;
      }
    }
    .icons-container {
      position: absolute;
      top: -70px;
      right: 0%;
      display: flex;
      align-items: center;
      width: max-content;
      gap: 20px;
    }
  }
}
