.section10 {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  .title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      color: #000;
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -0.64px;
    }
    p {
      color: #546179;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: -0.38px;
    }
  }
  .cards-container {
    position: relative;
    display: flex;
    gap: 32px;
    .dots{
      position: absolute;
      left: -68px;
      top: 40px;
      z-index: -1;
    }
  }
  .card {
    width: 648px;
    max-width: 50%;
    padding: 30px;
    height: 560px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #28b0a6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    &.card2 {
      background: #1d293f;
      .icon {
        color: #1d293f;
      }
      p {
        color: #99a3ad;
      }
    }
    .icon {
      background-color: white;
      width: 104px;
      height: 104px;
      color: #28b0a6;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    h4 {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: -0.51px;
    }
    p {
      color: #bcf0ec;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: -0.38px;
    }
    h5 {
      color: #fff;
      text-align: center;

      font-size: 24px;
      font-weight: 500;
      letter-spacing: -0.38px;
    }
  }
}

@media screen and (max-width: 800px) {
  .section10 {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        color: #000;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: -0.64px;
      }
      p {
        color: #546179;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.38px;
      }
    }
    .cards-container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 100%;
      align-items: center;
      .dots{
        top: -20px;
      }
    }
    .card {
      width: 500px;
      max-width: 100%;
      height: 460px;
      flex-shrink: 0;
      border-radius: 12px;
      background: #28b0a6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;
      padding: 20px;
      &.card2 {
        background: #1d293f;
        .icon {
          color: #1d293f;
        }
        p {
          color: #99a3ad;
        }
      }
      .icon {
        background-color: white;
        width: 74px;
        height: 74px;
        color: #28b0a6;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      h4 {
        color: #fff;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: -0.51px;
      }
      p {
        color: #bcf0ec;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.38px;
      }
      h5 {
        color: #fff;
        text-align: center;

        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.38px;
      }
    }
  }
}
